<div id="contact" >
  <div class="lvjing">
    <div class="container row wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
      <div class="col-md-6">
        <h2><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;联系我们</h2>
        <p>
          上海阿尔卡特网络支援系统有限公司（“SANSS”,上卡网络）成立于1995年4月，股东方为中国电信股份有限公司（49%）、上海贝尔股份有限公司（26%）和上海贝尔（香港）有限公司（25%）。
          公司属于电信行业的高新技术企业，主要从事通信固定网络、移动网络的网络规划、软件开发、系统集成、维护和技术服务等，以及电信增值业务、移动互联网行业解决方案的开发和服务。
        </p>
        <address>
          <p><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;地址：上海浦东新区福山路380号</p>
          <p><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;电话：021-58205168</p>
          <p><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;邮箱：xxxx@sanss.com</p>
        </address>
      </div>
      <div class="col-md-6">
        <form >
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="您的姓名">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="您的邮箱">
          </div>
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="标题">
          </div>
          <div class="col-md-12">
            <textarea class="form-control" rows="4" placeholder="留言内容"></textarea>
          </div>
          <div class="col-md-8">
            <input type="submit" class="form-control" vlaue="提交">
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
