<div>
  <div id="appl" class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
    <div class="col-md-6">
      <h2>移动app下载</h2>
      <p>全新UI交换，与新网站数据同步，更加丰富的课程，开启进程无限，语音搜索教程，喊出你需要的课程，一件收藏，方便自己重复学习，离线下载课程，在哪儿都能开！</p>
      <button class="btn btn-primary">
        <span class="glyphicon glyphicon-download-alt"></span>
        Iphone版本
      </button>
      <button class="btn btn-primary">
        <span class="glyphicon glyphicon-download-alt"></span>
        Android版本
      </button>

    </div>
    <div class="col-md-6">
      <img src="../images/dl.jpg" style="width: 500px;height: 300px;" class="img-responsive" alt="IMG">
    </div>
  </div>


</div>
