<div id="bbs">
  <div >
    <div class="row wow fadeInUp">
      <div class="col-md-4">
        <a href="" target="_blank">
          <img src="../images/otn-1.png" class="img-responsive" alt="otn1">
          <h3>Android开发</h3>
          <p>Android开发技术交流、问题求助、实战案例分享</p>
        </a>
      </div>
      <div class="col-md-4">
        <a href="" target="_blank">
          <img src="../images/otn-2.png" class="img-responsive" alt="otn2">
          <h3>IOS开发</h3>
          <p>IOS开发技术交流、流量IOS实战干活分享</p>
        </a>
      </div>
      <div class="col-md-4">
        <a href="" target="_blank">
          <img src="../images/otn-3.png" class="img-responsive" alt="otn3">
          <h3>嵌入式底层开发</h3>
          <p>嵌入式底层开发开、实战案例等技术交流讨论</p>
        </a>
      </div>
    </div>
  </div>

</div>
