<div>
  <div id="html5">
    <div class="col-md-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s">
      <h2>HTML5前端开发</h2>
      <p>一线资深前端开发工程师倾情打造！祝你完成普通程序员到优秀工程师的华丽升级！</p>
      <p><span class="glyphicon glyphicon-grain mai-icon"></span>使用HMTL5与CSS3技术轻松实现设备自适应展示</p>
      <p><span class="glyphicon glyphicon-grain mai-icon"></span>清晰明了的语义代码结构，更高的可读性、更利于页面维护。</p>
    </div>
    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s">
      <img src="../images/html5.png" style="width: 500px;height: 300px;" class="img-responsive" alt="html5">
    </div>
  </div>

  <div id="angular">
    <div class="col-md-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s">
      <img src="../images/angular.png" style="width: 500px;height: 300px;" class="img-responsive" alt="angular">
    </div>
    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s">
      <h2>AngularJS前端开发</h2>
      <p>一线资深前端开发工程师倾情打造！祝你完成普通程序员到优秀工程师的华丽升级！</p>
      <p><span class="glyphicon glyphicon-grain mai-icon"></span>使用HMTL5与CSS3技术轻松实现设备自适应展示</p>
      <p><span class="glyphicon glyphicon-grain mai-icon"></span>清晰明了的语义代码结构，更高的可读性、更利于页面维护。</p>
    </div>
  </div>
</div>
