<div id="home" >
  <div class="lvjing">
    <div >
      <div class="row wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h1>Bootstrap实战课程等你来战</h1>
          <p>本套课程适合于：1.web开发人员 2.网站维护人员</p>
          <p>培训技能目标：使用Bootstrap框架快速构建响应式网页，垫付传统WEB前端</p>
        </div>
        <img src="../images/google.png" class="img-responsive" alt="google">
        <div class="col-md-1"></div>

      </div>

    </div>

  </div>

</div>
